@import url('./general-style.css');

.result, .giveUp, form{
    border:var(--border);
    border-radius:var(--border-radius);
    box-shadow:var(--box-shadow);
    display: flex;
    flex-direction:row;
    background-color:white;
    align-items: center;
    justify-content: center;
    margin-bottom: 3rem;
    margin-top: 3rem;
}

img {
    width:3rem;
    height:3rem;
}

form {

    flex-direction:column;

}

button {
    font-family:var(--font-family);
    margin-top:1rem;
    margin-bottom:1rem;
}
